__pycache__/

semantic_segmentation/aa_workdir
semantic_segmentation/acdc_workdir
semantic_segmentation/clean_workdir
semantic_segmentation/checkpoint_files
semantic_segmentation/data
semantic_segmentation/slurm
semantic_segmentation/tests
semantic_segmentation/work_dirs

# C extensions
*.so

# SLURM logs
semantic_segmentation/slurm

# Distribution / packaging
*.egg-info/